body{
    background-image: url(https://i.imgur.com/qT3mASl.jpg);
}

.container{
    background-color:#00FFFF;
    padding-bottom:20%;
    margin-top:5%;
    width:50%;
}

#timeRemaining{
    color:green;
}

.btn {
    width:300px;
    height:150px;
    font-size:50px;
}

#gamePlay{
    display:none;
}
